{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - title: The flag link title.
 */
#}
<a{{ attributes.addClass('flag') }}>{{ title }}</a>
